<header class="header">
    <div class="header__container">
        <span class="header__logo">Header</span>
    </div>
</header>

<nav class="nav">
    <ul class="nav__list">
        <li class="nav__list-item">
            <a class="nav-link" href="javascript:void(0)">Link 1</a>
        </li>
        <li class="nav__list-item">
            <a class="nav-link" href="javascript:void(0)">Link 2</a>
        </li>
    </ul>
</nav>

<main>
    <div> 
        <h1>Form</h1>
    </div>

    <form class="form">
        <div class="form__group">
            <label for="text_entry">Normal Text Entry</label>
            <input type="text" id="text_entry" aria-required="true" required="">
        </div>

        <div class="form__group">
            <label for="password_entry">Password Text Entry</label>
            <input type="password" id="password_entry" aria-required="true" required="">
        </div>

        <div class="form__group">
            <button type="submit">Button</button>
        </div>
    </form>
</main>