<header class="header">
    <div class="header__container">
        <span class="header__logo">Header</span>
    </div>
</header>

<nav class="nav" id="myTopnav">
    <div class="hamburger-helper">
        <a href="javascript:void(0)" class="icon" id="hamburger-icon">&#9776;</a>
    </div>
    <ul class="nav__list">
        <li class="nav__list-item">
            <a class="nav-link" href="javascript:void(0)">Link 1</a>
        </li>
        <li class="nav__list-item">
            <a class="nav-link" href="javascript:void(0)">Link 2</a>
        </li>
    </ul>
</nav>
