<header>Header</header>

<nav>
    <ul>
        <li>
            <a href="javascript:void(0)">Link 1</a>
        </li>
        <li >
            <a href="javascript:void(0)">Link 2</a>
        </li>
    </ul>
</nav>

<main>
    <h1>Form</h1>

    <form>
        <label>Normal Text Entry</label>
        <input type="text" id="text_entry" aria-required="true" required="">

        <label>Password Text Entry</label>
        <input type="password" id="password_entry" aria-required="true" required="">

        <button type="submit">Button</button>
    </form>
</main>